

<div class='col-md-12'>
  <h1>NHL Stats</h1>
</div>

<div class="card  well well-lg row">
  <div class="col-lg-3">
    <h2><%= @player.name %></h2>
    <%= @player.picture %>
  </div>
  <div class="col-lg-8">
    <ul class="table table-bordered">
      <li><%= @player.position %> </li>
      <li><%= @player.age %></li>
      <li><%= @player.height %></li>
      <li><%= @player.weight %></li>
      <li><%= @player.country %></li>

    </ul>
  </div>
</div>
