

<h1>Stats</h1>


  <table>
    <thead>
        <tr>
          <td> Name </td>
          <td> Weight </td>
          <td> Age    </td>
          <td> Height </td>
          <td> Position </td>
          <td> Country  </td>
        </tr>
    </thead>
    <tbody>
        <% @players.each do |player| %>
        <tr>
              <td><%= player.name %></td>
              <td><%= player.weight %></td>
              <td><%= player.age %></td>
              <td><%= player.height %></td>
              <td><%= player.position %></td>
              <td><%= player.country %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
